---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="social_buttons" style="text-align:right">
<div class="reddit" style="float:right;margin-left:10px">
<script type="text/javascript">
  reddit_url = "//www.reddit.com/buttons";
</script>
<script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
</div>
&nbsp;
<div class="reddit" style="float:right">
<a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal">Vote on Hacker News</a>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
</div>
</div>

<div class="pagination">
  {% if page.previous.url %}
  <a class="pagination-item older" href="{{ site.baseurl }}{{page.previous.url}}">&larr; {{ page.previous.title | truncate: 75 }}</a>
  {% else %}
    <span class="pagination-item older">&larr; Older</span>
  {% endif %}
  {% if page.next.url %}
  <a class="pagination-item newer" href="{{ site.baseurl }}{{page.next.url}}">{{ page.next.title | truncate: 75 }} &rarr;</a>
  {% else %}
    <span class="pagination-item newer">Newer &rarr;</span>
  {% endif %}
</div>


{% if page.comments %}
    {% include disqus.html %}
{% endif %}
